body {
    background-color: gray;
}
button {
    background-color: #008bba00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    top: 50%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }

  .neon-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    background-color: #00ffff;
    text-decoration: none;
    animation: neon-loader 1s infinite alternate;
  }
  
  .neon-loader:hover{
    background-color: #00ffff !important;
    animation-play-state: paused;
    box-shadow: 0 0 10px #00ffff,
                0 0 30px #00ffff,
                0 0 60px #00ffff;
  }
  
  @keyframes neon-loader {
    from {
      background-color: #00ffff;
    }
    to {
      background-color: #ff00ff;
    }
  }